{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-dismissable alert-danger">
        <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="form-group">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required"
               class="form-control" placeholder="Username or e-mail"/>
    </div>
    <div class="form-group">
        <input type="password" id="password" name="_password" required="required" class="form-control"
               placeholder="{{ 'security.login.password'|trans }}"/>
    </div>
    <div class="checkbox not-frame-block">
        <label>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            {{ 'security.login.remember_me'|trans }}
        </label>
    </div>
    <input type="submit" id="_submit" class="btn btn-success btn-form-1-of-1" name="_submit"
           value="{{ 'security.login.submit'|trans }}"/>
    <br />
    <div class="not-frame-block">
        <a href="{{ path('fos_user_resetting_request') }}"
           class="">{{ 'login.forgot_password'|trans({},'app') }}</a>
        <div>
        </div>
        <a href="{{ path('fos_user_registration_register') }}"
           class="">{{ 'fosuser.register'|trans }}</a>
    </div>
</form>
