{% extends 'template/layout.html.twig' %}

{% block title %}Template{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/template.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm">
            <h1>{{ template.name }}</h1><a href="{{ path('template_edit', {id: template.id}) }}">Edit</a>
            <div id="template" class="jumbotron">
                <div id="text-control">
                    {% for index, variable in template.decodedVariables %}
                        <div>
                            <label for="variable-control-{{ index }}">{{ variable.name }}:</label> <textarea
                                    id="variable-control-{{ index }}"
                                    class="form-control text-variable-control variable-control"
                                    data-variable-id="{{ index }}"
                                    data-variable-name="{{ variable.name }}"
                            >{{ variable.value }}</textarea>
                        </div>
                    {% endfor %}
                </div>
                <div id="text">
                    {% spaceless %}
                        {% for item in template.textToView %}
                            {% if item.variableId is same as(false) %}
                                <span>{{ item.content }}</span>
                            {% else %}
                                <span class="variable-{{ item.variableId }}"></span>
                            {% endif %}
                        {% endfor %}
                    {% endspaceless %}
                </div>
                <div id="action-panel">
                    <button type="button" class="copy-btn btn btn-outline-success">Copy</button>
                    <button type="button" class="reset-btn btn btn-outline-danger">Reset</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/template.js') }}"></script>
{% endblock %}
