{% extends 'template/layout.html.twig' %}

{% block title %}Template{% endblock %}

{% block content %}

    {% include "_flash_messages.html.twig" %}

    <h1>template index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Text</th>
            <th>Variables</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.id }}</td>
                <td>{{ template.name }}</td>
                <td>{{ template.text }}</td>
                <td>{{ template.variables }}</td>
                <td>
                    <a href="{{ path('template_show', {'id': template.id}) }}">show</a>
                    <a href="{{ path('template_edit', {'id': template.id}) }}">edit</a>
                    {{ include('template/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
