{% extends 'layout.html.twig' %}

{% block title %}Template{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/template_new_edit.css') }}">
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if template is defined %} {# edit action #}
                <li class="breadcrumb-item"><a href="{{ path('folder_content', {'id': template.folder.id}) }}">{{ template.folder.name }}</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ path('template_show', {'id': template.id}) }}">{{ template.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit</li>

            {% else %} {# new action #}
                <li class="breadcrumb-item"><a href="{{ path('template_index') }}">Templates</a></li>
                <li class="breadcrumb-item active" aria-current="page">New</li>
            {% endif %}
        </ol>
    </nav>

    <div class="row">
        <div id="template" class="col-sm">
            {{ form_start(form) }}
            <div id="name-folder-wrapper">
                {{ form_row(form.name) }}
                {{ form_row(form.folder) }}
            </div>
                <div id="text-control">
                    <div id="variables-wrapper">
                        {# text variable prototype #}
                        <div class="form-group row" id="text-variable-prototype" data-variable="{}">
                            <label class="col-form-label col-2 form-control-label" for=""></label>
                            <div class="col-8">
                                <input type="text" class="form-control text-variable-control" readonly="readonly"/>
                            </div>
                            <div class="col-1 text-center">
                                <button title="Edit the variable" type="button" class="btn btn-primary edit-btn icon-cog-alt" data-toggle="modal"
                                        data-target="#variable-modal">
                                </button>
                            </div>
                            <div class="col-1 text-center">
                                <span role="button" title="Change order of the variable" class="btn btn-secondary sortable-handle icon-resize-vertical"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="add-variable" type="button" class="btn btn-primary icon-plus-squared" data-toggle="modal" data-target="#variable-modal">Add a new variable</button>
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
                <div id="action-panel">
                    <button type="submit" class="copy-btn btn btn-success icon-floppy">Save</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="variable-modal" tabindex="-1" role="dialog" aria-labelledby="variable-modal-label"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="variable-modal-label"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2 form-control-label" for="variable-name">Name</label>
                        <div class="col-sm-10">
                            <div id="variable-name-left-bracket">{</div>
                            <input id="variable-name" type="text" class="form-control"/>
                            <div id="variable-name-right-bracket">}</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2 form-control-label" for="variable-value">Value</label>
                        <div class="col-sm-10"><input type="text" id="variable-value" class="form-control"></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-sm-2 form-control-label" for="variable-desc">Description</label>
                        <div class="col-sm-10"><input type="text" id="variable-desc" class="form-control"></div>
                    </div>
                    <input id="variable-id" type="hidden" class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button id="remove-variable" type="button" class="btn btn-danger icon-trash" data-dismiss="modal">Remove</button>
                    <button type="button" class="btn btn-secondary icon-window-close" data-dismiss="modal">Close</button>
                    <button id="save-variable" type="button" class="btn btn-success icon-floppy" data-dismiss="modal">Save</button>
                    <button id="create-variable" type="button" class="btn btn-success icon-floppy" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/template_new_edit.js') }}"></script>
{% endblock %}
