{% extends 'layout.html.twig' %}

{% block title %}Template{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/template_show.css') }}">
{% endblock %}

{% block content %}

    {% include "_flash_messages.html.twig" %}

    <div class="row">
        <div class="col-sm-10">
            {% include "_breadcrumb.html.twig" with {items: [
                {href: path('folder_content', {'id': template.folder.id}), name: template.folder.name },
                {name: template.name}
            ]} %}
        </div>
        <div class="col-sm-2 text-center">
            <a title="Edit the template" class="btn btn-primary icon-cog-alt breadcrumb-btn" role="link" href="{{ path('template_edit', {id: template.id}) }}"></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div id="template">
                <div id="text-control" class="not-frame-block-left">
                    {% for index, variable in template.decodedVariables %}
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2 form-control-label" for="variable-control-{{ index }}">{{ variable.name }}</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       id="variable-control-{{ index }}"
                                       class="form-control text-variable-control variable-control"
                                       data-variable-id="{{ index }}"
                                       data-variable-name="{{ variable.name }}"
                                       data-variable-value="{{ variable.value }}"
                                       placeholder="{{ variable.desc }}"
                                       value="{{ variable.value }}"
                                />
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div id="text" class="jumbotron">{% spaceless %}
                        {% for item in template.textToView %}
                            {% if item.variableId is same as(false) %}
                                <span>{{ item.content }}</span>
                            {% else %}
                                <span class="variable-{{ item.variableId }}"></span>
                            {% endif %}
                        {% endfor %}
                    {% endspaceless %}</div>
                <div id="action-panel">
                    <button type="button" class="copy-btn btn btn-success icon-docs btn-form-1-of-2">Copy</button>
                    <button type="button" class="reset-btn btn btn-danger icon-doc-inv btn-form-2-of-2">Reset</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/template_show.js') }}"></script>
{% endblock %}
