{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="text-left inline-block">
                <h1>{{ 'fosuser.profile_show'|trans }}</h1>
                {% include "_flash_messages.html.twig" %}
                <div>
                    {% include "@FOSUser/Profile/show_content.html.twig" %}
                </div>
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('fos_user_profile_edit') }}"
                       role="button">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</a>
                    <a class="btn btn-primary" href="{{ path('fos_user_change_password') }}"
                       role="button">{{ 'fosuser.change_password'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}