{% extends 'layout.html.twig' %}

{% block title %}{{ folder.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/folder_content.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-9">
            {% include "_breadcrumb.html.twig" with {items: [
                {href: path('folder_index'), name: "Folders" },
                {name: folder.name }
            ]} %}
        </div>
        <div class="col-3 text-center">
            <a title="Add a new template in the folder" class="btn btn-success icon-plus-squared breadcrumb-btn" role="link" href="{{ path('template_new_folder', {'id': folder.id}) }}"></a>
            <a title="Edit the folder" class="btn btn-primary icon-cog-alt breadcrumb-btn" role="link" href="{{ path('folder_edit', {'id': folder.id}) }}"></a>
        </div>
    </div>

    <input type="hidden" name="datatables_length" id="datatables-length" value="{{ app.request.cookies.get('datatables_length')|default(25) }}"/>
    <table id="templates" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for template in folder.templates %}
            <tr>
                <td class="align-middle"><a title="Open the template" href="{{ path('template_show', {'id': template.id}) }}">{{ template.name|cut(100) }}</a></td>
                <td>
                    <div class="row">
                        <div class="col-6 text-center">
                            <a title="Open the template" class="btn btn-success icon-doc-inv" role="link" href="{{ path('template_show', {'id': template.id}) }}"></a>
                        </div>
                        <div class="col-6 text-center">
                            <a title="Edit the template" class="btn btn-primary icon-cog-alt" role="link" href="{{ path('template_edit', {'id': template.id}) }}"></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/folder_content.js') }}"></script>
{% endblock %}