{% extends 'user/layout.html.twig' %}

{% block title %}Edit folder{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('folder_index') }}">Folders</a></li>
            <li class="breadcrumb-item"><a href="{{ path('folder_content', {'id': folder.id}) }}">{{ folder.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </nav>

    {{ include('folder/_form.html.twig', {'button_label': 'Update'}) }}

    <br/>

    <a class="btn btn-primary icon-reply" role="button" href="{{ path('folder_index') }}">Back to the folders list</a>
{% endblock %}