{% extends 'layout.html.twig' %}

{% block title %}Folders{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/folder_index.css') }}">
{% endblock %}

{% block content %}

    {% include "_flash_messages.html.twig" %}

    <div class="row">
        <div class="col-10">
            {% include "_breadcrumb.html.twig" with {items: [
                {name: "Folders"}
            ]} %}
        </div>
        <div class="col-2 text-center">
            <a title="Add a new folder" class="btn btn-success icon-plus-squared breadcrumb-btn" role="link" href="{{ path('folder_new') }}"></a>
        </div>
    </div>

    <input type="hidden" name="datatables_length" id="datatables-length" value="{{ app.request.cookies.get('datatables_length')|default(25) }}"/>
    <table id="folders" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Favorite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for folder in folders %}
            <tr>
                <td class="align-middle"><a title="Open the folder" href="{{ path('folder_content', {'id': folder.id}) }}">{{ folder.name|cut(60) }}</a></td>
                <td class="favorite-cell align-middle text-center {{ folder.favorite ? 'icon-ok' : 'icon-minus' }}" data-sort="{{ folder.favorite ? 1 : 0 }}"></td>
                <td>
                    <div class="row">
                        <div class="col-4 text-center">
                            <a title="Open the folder" class="btn btn-success icon-folder" role="link" href="{{ path('folder_content', {'id': folder.id}) }}"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a title="Add a new template in the folder" class="btn btn-success icon-plus-squared" role="link" href="{{ path('template_new_folder', {'id': folder.id}) }}"></a>
                        </div>
                        <div class="col-4 text-center">
                            <a title="Edit the folder" class="btn btn-primary icon-cog-alt" role="link" href="{{ path('folder_edit', {'id': folder.id}) }}"></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/folder_index.js') }}"></script>
{% endblock %}